.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 404px;
  min-height: 429px;
  padding: 24px;
  border-radius: var(--border-radius);
  background-color: #ffffff;
  border: 1px solid var(--color-accent-light);
  box-shadow: 0 8px 20px rgba(236, 72, 153, 0.1);
}

.todo__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-accent-dark);
}

.todo__form {
  display: flex;
  column-gap: 16px;
}

.todo__field {
  width: 100%;
}

.todo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
  color: var(--color-accent-dark);
}

.todo__delete-all-button {
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--color-gray-4);
  }
}

.todo__list,
.todo__empty-message {
  &:empty {
    display: none;
  }
}

.todo__list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}